body{
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: relative;
    margin-bottom: 0;
}

.wrapper{
    margin:auto;
    width: 750px;
    background-color:#b7e2dd;
}

/* STYLING THE HEADING */

.header-image{
    width:750px;
    height: 300px;
}

#title-heading{
    color:white;
    position:absolute;
    margin: auto;
    top:175px;
    left:255px;
    font-size: 40px;
}

/* STYLING THE NAVBAR */

nav{
    position: relative;
    text-align: center;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color:black;
    font-size: 30px;
    text-transform: uppercase;
}




